body {
  margin: 0;
  /* overflow-x: hidden; */
  /* width: 90%; */
}

/* For Vertical and Horizontal centralization */
.centre {
  /* position: absolute; Can also be `fixed` */
  left: 50%;
  right: 50%;
  top: 50%;
  bottom: 50%;
  margin: 0 auto;
  /*Solves a problem in which the content is being cut when the div is smaller than its' wrapper:*/
  max-width: 100%;
  max-height: 100%;
  /* overflow: auto; */
}

/* BAMBI LOGO */
.logo {
  margin-top: 28px;
}

.bambi-logo {
  width: 128px;
  margin-left: 128px;
}

/* FIRST ROW */
.first-row {
  display: flex;
  flex-direction: column;
}

/* HERO TEXT STYLES */
.easier-saving {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 75px;
  font-style: normal;
  line-height: 112px;
  /* margin-left: 120px; */
  margin-bottom: 0;
  /* margin-top: 131px; */
}

/* PARAGRAPH STYLE */
.kids {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 38px;
  /* margin-left: 120px; */
  margin-top: 10px;
}

/* GET IT FIRST BUTTON  */
.btn {
  /* margin-left: 120px; */
  background: #fde016;
  border-radius: 34px;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #000;
  font-size: 20px;
  padding: 16px 25px 16px 25px;
  border: solid #fde016 2px;
  text-decoration: none;
  cursor: pointer;
}

/* MAIN STYLE */
#main {
  display: flex;
  flex-direction: row;
  margin-bottom: 100px;
  margin-left: 120px;
  margin-right: 120px;
}

.second-row {
  display: flex;
  flex-direction: row;
}

.hero-phones {
  max-width: 450px;
  margin-left: -100px;
}


/* MIDDLE CONTAINER STYLE */
.mid {
  display: flex;
  flex-direction: row;
  background-color: #000000;
  justify-content: space-around;
}

.card,
.bin,
.purse,
.cup {
  margin-bottom: 40px;
}

/* CARD STYLE */
.card-dynamic {
  margin-top: 112px;
  display: flex;
  flex-direction: row;
  /* align-items: flex-start; */
  padding: 6px;
  gap: 8px;
  width: 160px;
  height: 160px;
  background: #fde016;
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.customisable {
  width: 191px;
  height: 24px;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  flex: none;
  order: 1;
  flex-grow: 0;
  text-align: center;
}

/* BIN STYLE */
.chores {
  margin-top: 112px;
  display: flex;
  flex-direction: row;
  /* align-items: flex-start; */
  padding: 6px;
  gap: 8px;
  width: 160px;
  height: 160px;
  background: #fde016;
  border-radius: 16px;
  flex: none;
  order: 0;
  flex-grow: 0;
  text-align: center;
}

.assignments {
  overflow: hidden;
  white-space: nowrap;
  /* padding-right: 50px; */
  width: 191px;
  height: 24px;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  flex: none;
  order: 1;
  flex-grow: 0;
  text-align: center;
}

/* PURSE STYLE */
.wallet {
  margin-top: 112px;
  display: flex;
  flex-direction: row;
  /* align-items: flex-start; */
  padding: 6px;
  gap: 8px;
  width: 160px;
  height: 160px;
  background: #fde016;
  border-radius: 16px;
  flex: none;
  order: 0;
  flex-grow: 0;
  text-align: center;
}

.savings {
  width: 77px;
  height: 24px;
  padding-left: 50px;
  text-align: center;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  flex: none;
  order: 1;
  flex-grow: 0;
}

/* CUP STYLE */
.trophy {
  margin-top: 112px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 6px;
  gap: 8px;
  width: 160px;
  height: 160px;
  background: #fde016;
  border-radius: 16px;
  flex: none;
  order: 0;
  flex-grow: 0;
  text-align: center;
}

.learn {
  width: 86px;
  height: 24px;
  padding-left: 50px;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  flex: none;
  order: 1;
  flex-grow: 0;
}

/* CONTAINER PARENT */
.container-parent {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

/* PARENT IPHONE STYLE */
.parent-iphone {
  display: flex;
  flex-direction: row;
}

/* FEATUES STYLE */
.features {
  display: flex;
  flex-direction: column;
  margin-bottom: 226px;
}

/* PARENT BUTTON */
.parent-btn {
  margin-top: 220px;
  margin-left: 15%;
  margin-bottom: 40.02px;
  background-color: #fde016;
  border-radius: 12px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  padding: 8px 16px;
  border: solid #fde016 2px;
  text-decoration: none;
}

.star {
  margin-left: 15%;
  margin-bottom: 48.02px;
}

/* FIRST LEFT STAR */
.left-star {
  display: flex;
  flex-direction: row;
}

.features-text {
  margin-bottom: 16px;
  margin-top: -30px;
  margin-left: 16px;
  width: 359px;
  height: 64px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 32px;
  color: #000000;
  flex: none;
  order: 1;
  flex-grow: 0;
}

/* YELLOW BACKGROUND STYLE */
.yellow-background {
  display: flex;
  flex-direction: row;
}

/* PARENT PHONE */
.parent-phone {
  margin-top: 212px;
  margin-right: 15%;
  margin-bottom: 40px;
}

.parent-phone > img {
  max-width: 800px;
  height: auto;
}

/* CHILD IPHONE STYLE */
.child-iphone {
  display: flex;
  flex-direction: row;
  /* margin-bottom: 200px; */
}

/* GREEN BACKGROUND */
.green-background {
  display: flex;
  flex-direction: row;
}

.child-phone {
  /* margin-top: 212px;
  margin-left: 122px; */
  margin-bottom: 40px;
}

.child-phone > img {
  max-width: 800px;
  height: auto;
}

/* CHARACTERISTICS */
.characteristics {
  display: flex;
  flex-direction: column;
}

/* BENEFICIARIES BUTTON STYLE */
.beneficiaries-btn {
  /* margin-left: 49px; */
  margin-bottom: 40.02px;
  background: #6fcf97;
  border-radius: 12px;
  background-color: #6fcf97;
  font-family: "Rubik";
  color: #000000;
  font-size: normal;
  font-weight: 500;
  font-size: 14px;
  padding: 8px 16px;
  border: solid #6fcf97 2px;
  text-decoration: none;
}

/* GREEN STAR */
.green-star {
  /* margin-left: 53.86px; */
  margin-bottom: 48.02px;
}

/* RIGHT GREEN STAR */
.right-star {
  display: flex;
  flex-direction: row;
}

.characteristics-text {
  margin-left: 16.83px;
  margin-bottom: 16px;
  margin-top: -30px;
  width: 359px;
  height: 64px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 32px;
  color: #000000;
  flex: none;
  order: 1;
  flex-grow: 0;
}


/* BOTTOM CONTAINER */
.bottom-container {
  display: flex;
  flex-direction: column;
  /* width: 90%; */
  height: 511px;
  background-color: #fcdf17;
}

/* JOIN  STYLE */
.join {
  margin-top: 40px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 76px;
  text-align: center;
  color: #000000;
}

/* PAPER MESSAGE STYLE */
.paper {
  margin-bottom: -5px;
  margin-right: 15px;
}

.bambi-centre {
  /* position: absolute; Can also be `fixed` */
  /* left: 50%;
  right: 50%;
  top: 32px;
  bottom: 50%; */
  margin: 0 auto;
  /*Solves a problem in which the content is being cut when the div is smaller than its' wrapper:*/
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
}

/* GET BAMBI BUTTON STYLE */
.bambi-btn {
  /* margin-top: 100px;
  margin-left: 558px; */
  background: #000000;
  border-radius: 64px;
  font-family: Arial;
  color: #ffffff;
  font-size: 32px;
  padding: 24px 48px 24px 48px;
  text-decoration: none;
  cursor: pointer;
}




/* MEDIA QUERIES */
/* Mobile responsive CSS */

@media screen and (max-width: 500px) {
  /* body {
    overflow-x: visible;
  } */

  /* HERO TEXT STYLES */
  .easier-saving {  
    max-width: 400px;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 44px;
    font-style: normal;
    line-height: 64px;
    margin-left: 32px;
    margin-bottom: 32px;
    margin-right: 32px;
    /* margin-top: 131px; */
  }
  
  /* PARAGRAPH STYLE */
  .kids {
    width: 311px;
    height: 56px;
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    margin-left: 32px;
    margin-bottom: 28px;
    margin-right: 32px;
    /* margin-top: 10px; */
  }
  
  /* GET IT FIRST BUTTON  */
  .btn {
    /* margin-left: 120px; */
    background: #fde016;
    border-radius: 34px;
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #000;
    font-size: 14px;
    padding: 16px 25px 16px 25px;
    border: solid #fde016 2px;
    text-decoration: none;
    cursor: pointer;
    margin-left: 32px;
    margin-right: 192px;
  }

  #main {
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    margin-right: 0px;
    width: 100%; /* The width is 100%, when the viewport is 500px or smaller */
    /* flex-direction: column; */
  }

  .second-row{
    order: 2;
    margin-top: 56px;
  }

  .hero-phones {
    margin-left: 0px;
  }

  .hero-phones > img {
    max-width: 400px;
    height: auto;
  }

/* MIDDLE DISPLAY ORIENTATION */
  .mid {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin-top: 67px;
  }


  /* Shared Parent and Child display directions */
  .parent-iphone, .child-iphone {
    flex-direction: column;
    width: 100%;
  }

/* PARENT */
  /* .parent-iphone {
    margin-top: 50px;
  } */

  .parent-btn {
    margin-top: 50px;
  }

  .features{
    margin-bottom: 0px;
  }

  .star > img {
    width: 24px;
    height: 24px;
  }

  .parent-btn, .star {
    margin-left: 32px;
  }

  /* YELLOW BACKGROUND STYLE */
.yellow-background {
  display: flex;
  flex-direction: column;
}

/* PARENT PHONE */
.parent-phone {
  margin-top: 80px;
  margin-right: 12px;
}

.parent-phone > img {
  max-width: 400px;
  height: auto;
}


/* CHILD */
  .child-iphone {
    margin-top: 40px;
    margin-bottom: 50px;
    flex-direction: column;
  }

  .green-background {
    order: 2;
    /* margin-top: 100px; */
  }

  .child-phone {
    /* margin-top: 212px;
    margin-left: 122px; */
    margin-bottom: 40px;
  }
  
  .child-phone > img {
    max-width: 400px;
    height: auto;
  }

  .green-star > img {
    width: 24px;
    height: 24px;
  }

  .beneficiaries-btn, .green-star {
    margin-left: 32px;
  }

  /* All Text Displayed for Features and Characteristics */
  .features-text, .characteristics-text {
    margin-bottom: 16px;
    margin-top: -20px;
    margin-left: 16px;
    width: 271px;
    height: 48px;
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    flex: none;
    order: 1;
    flex-grow: 0;
  }

  /* BOTTOM CONTAINER */
  .bottom-container {
    margin: 0px;
  }

  .join {
    font-size: 44px;
    line-height: 64px;
  }

  .bambi-btn {
    font-size: 14px;
  }
}